@use "mixins" as *;
@use "vars" as *;

// Flipthrough gif

// h1 {
//   filter: invert(1);
//   mix-blend-mode: difference;
// }

// @include dark {
//   h1#title img{
//     filter: contrast(2);
//   }
// }

@include dark {
  .handwriting {
    filter: invert(1) contrast(1);
  }
}

#flipthrough {
  width: 100%;
  max-width: $col1;
  aspect-ratio: 3/4.5;
  object-fit: cover;
  object-position: top;
}

input, button, .button {
  border-radius: 0;
  background: transparent;
  border: 1px solid var(--fg);
  color: var(--fg);
}

input {
  padding-left: 1rem;
}

button, .button {
  @include wipe-hover;
  display: inline-block;
  width: fit-content;
  padding: 0.75rem 1rem;
  &:hover {
    cursor: pointer;
  }
  &:active {
    transform: translate(1px, 2px);
  }
}

// Specs list
li {
  margin: 1em 0;
}