@use "mixins" as *;
@use "vars" as *;

header, footer {
  text-align: center;
  padding: var(--gap-lrg) 0;
}

main {
  text-align: center;  // mostly for block elements like imgs
  padding: 0 var(--gap-sml);
}

form#order-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3.25rem 0 var(--gap-sml);
}

h1#title {
  --multiplier: 1;
  transform: translateX(0);
  text-align: center;
  grid-column: span 1;
  margin: var(--gap-lrg) 0;
}

  #title-diary, #title-of {
    height: calc(var(--multiplier) * var(--height-1));
  }
  #title-a {
    height: calc(var(--multiplier) * var(--height-2));
  }
  #title-luckyseagull {
    height: calc(var(--multiplier) * var(--height-3));
    transform: translateY(0);
  }

.body, .bleed-left {
  margin-bottom: var(--gap-lrg);
}

// ----------------------------
// 640px - nominal grid width +
// ----------------------------
@include query($bp-sml){

  main {
    display: grid; // GRID defined here <-----------
    grid-template-columns: auto 1fr 2fr auto;
    column-gap: var(--gap-lrg);
    row-gap: 0;
    // place-self: center;
  }

  #flipthrough {
    grid-column-start: 2;
  }

  #intro {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    align-self: center;
    display: grid;
    grid-template-columns: subgrid;

    p, form {
      grid-column-start: 1;
    }

    p {
      margin: calc(0.25*var(--gap-sml)) 0;
    }
  }

    h1#title {
      margin: 0;
    }

  .body {
    grid-column-start: 3;
  }

  img.bleed-left {
    grid-column: span 3 / span 3;
    width: 100%;
  }
}

// -----------------------------
// nominal grid width - 1120px +
// -----------------------------
@include query($bp-med){

  header {
    margin-top: calc(0.5*var(--gap-lrg));
  }

  main {
    grid-template-columns: minmax(0,1fr) var(--col1) var(--col2) minmax(0,1fr);
  }

    #title-luckyseagull {
      transform: translateY(calc(-1 * var(--gap-sml)));
    }

    #vol {
      margin-right: 2rem;
    }

}

// ---------------------------
// 1120px - 1680px +
// ---------------------------
@include query($bp-lrg){
  h1#title {
    transform: translateX(calc(-2 * var(--gap-sml)));
    text-align: left;
    grid-column: span 2;
  }
  #title-luckyseagull {
    transform: translateY(0);
  }
}

// ---------------------------
// 1680px - 2240px +
// ---------------------------
@include query($bp-xlg){
  h1#title {
    --multiplier: 1.05;
  }
}

// ---------------------------
// 2240px ++
// ---------------------------

@include query($bp-2xl){
  main {
    column-gap: calc(1.5*var(--gap-lrg));
  }

  h1#title {
    --multiplier: 1.15;
  }
}

