@use "mixins" as *;
@use "vars" as *;

#intro {
  font-size: var(--f-med);
}

input, button {
  font-family: var(--ff-sans);
  font-size: var(--f-med);
  text-align: center;
}

p, li {
  text-align: left;
  font-size: var(--f-sml);
  line-height: 2.25em;
}
p.body {
  text-align: justify;
}

header, footer {
  font-size: var(--f-xlg);
  font-weight: bold;
  letter-spacing: 30%;
}

a#self-link {
  text-decoration: none;
  &:hover {
    color: var(--ac);
  }
}