// ===============
// Utility Classes
// ===============
@use "mixins" as *;
@use "vars" as *;

// Lists
.nls {
  list-style: none;
}

// Flex

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin-top: 0; // fix lack of margin-collapse with flex items
    }
  }

  // Responsive rows

  .flex-row, .flex-row-reverse {
    flex-direction: column;
  }

  @include query($bp-med){
    .flex-row {
      flex-direction: row;
    }
    .flex-row-reverse {
      flex-direction: row-reverse;
    }
  }
