// ================
// Global variables
// ================
@use 'sass:color';
@use "mixins" as *;

// -----
// Sizes
// -----

  $col1: 360px;
  $col2: 540px;
  $gap-sml: 20px;
  $gap-lrg: 48px;

:root {
  --col1: #{$col1};
  --col2: #{$col2};
  --gap-sml: #{$gap-sml};
  --gap-lrg: #{$gap-lrg};
}

// Breakpoints

  $bp-sml: 340px;
  $bp-med: calc(3*#{$gap-lrg} + #{$col1} + #{$col2});

// -------
// Colours
// -------

// Raw values

// Semantic values

  :root {
    --fg: black;
    --bg: white;
    --ac: blue; // accent colour
    --fc: yellow; // focus colour
  }

  @include dark { :root {
    --fg: white;
    --bg: #111;
    --ac: lightblue; // accent colour
    --fc: yellow; // focus colour
  }}

// ----------
// Typography
// ----------

// Font sizes

  :root {
    --f-sml: 0.875rem;
    --f-med: 1rem;
    --f-lrg: 1.25rem;
    --f-xlg: 1.5rem
  }

// Font families

  :root {
    --ff-sans: "Standard", -apple-system, BlinkMacSystemFont, "SF Pro Text", "Helvetica Neue", "Helvetica", sans-serif;
  }