// ================
// Global variables
// ================
@use 'sass:color';
@use "mixins" as *;

// -----
// Sizes
// -----

  $col1: 22.5rem;    // 360px
  $col2: 33.75rem;   // 540px
  $gap-sml: 1.25rem; // 20px
  $gap-lrg: 3rem;    // 48px

:root {
  --col1: #{$col1};
  --col2: #{$col2};
  --gap-sml: #{$gap-sml};
  --gap-lrg: #{$gap-lrg};
}

#title {
  --height-1: 9.5rem;   // 152px
  --height-2: 2.5rem;   // 40px
  --height-3: 7.875rem; // 126px
}

// Breakpoints

  $bp-sml: 640px;
  $bp-med: calc(3*#{$gap-lrg} + #{$col1} + #{$col2}); // 1044px
  $bp-lrg: 1120px;
  $bp-xlg: 1680px;
  $bp-2xl: 2240px;

// -------
// Colours
// -------

// Raw values

// Semantic values

  :root {
    --fg: black;
    --bg: white;
    --ac: black; // accent colour
    --fc: yellow; // focus colour
  }

  @include dark { :root {
    --fg: white;
    --bg: #2c2c2c;
    --ac: white;
  }}

// ----------
// Typography
// ----------

// Font sizes

  :root {
    --f-sml: 0.875rem;
    --f-med: 1rem;
    --f-lrg: 1.25rem;
    --f-xlg: 1.5rem
  }

// Font families

  :root {
    --ff-sans: "Standard", -apple-system, BlinkMacSystemFont, "SF Pro Text", "Helvetica Neue", "Helvetica", sans-serif;
  }